@media (min-width: 1350px) {
  .buycar_sec .text-right {
    position: relative;
    right: -30px;
  }
}

@media (max-width: 1200px) {
.owl_slider .owl-carousel .owl-nav .owl-prev {
	left: 10px;
}
.owl_slider .owl-carousel .owl-nav .owl-next {
	right: 10px;
}
.landing_bnr {padding: 115px 0 100px;}
.landBnr_logo a, .landBnr_logo a:first-child {
	max-width: 226px;
}
.landBnr_txt .head_h1 {
    margin: 20px 0 10px;
    font-size: 28px;
    line-height: 34px;
}
.landBnr_txt p {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 15px;
}
.whyRent_txt p {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 40px;
}
.whyRent p {
    margin: 15px auto 0;
}
.font_18 {
    font-size: 16px;
}
.howork_sec2 .buy_car .work_box {margin-bottom: 30px}
.contact_box {padding-left: 0;}
.contact_box:after {
	left: -10px;
    top: -25px;
}
.contact_us p {
    line-height: 24px;
}
.hoWork_sec .container > .head_h2 {
    margin-bottom: 50px;
}
}
@media (max-width: 1199px) {
  .social_box a:not(:last-child) {
    margin-right: 10px;
  }
  .header .navbar {
    padding: 20px 0;
    /*border-bottom: 1px solid #757575;*/
  }
  .header .container {
    padding: 0 15px;
  }
  .search_sec {
    padding-top: 15px;
  }
  .engine_row {
    margin-top: 20px;
  }
  .reg_form {
    padding: 30px;
  }
  .howItWork {
    padding: 50px 0 250px;
  }
  .rentcheck_box {
    margin-right: 15px;
  }
  .processTxt {
    padding: 30px 0;
    margin-top: 30px;
  }
  .processTxt p {
    font-size: 28px;
    line-height: 36px;
  }
  .the_process .media-body {
    padding: 15px;
  }
  .the_process .head_h5 {
    font-size: 16px;
  }
  .the_process {
    padding: 45px 0 200px;
  }
}
@media (max-width: 991px) {
  .header .navbar {
    padding: 15px 0;
    /*border-bottom: 1px solid #757575;*/
  }
  .header .navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
  }
  .header .navbar-collapse {
    margin: 0 -15px;
    background: #fff;
    padding: 15px;
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .header .navbar-nav {
    width: 100%;
  }
  .header .navbar-nav > li {
    padding: 5px 0;
  }
  .header .btn {
    margin: 10px 10px 0 0;
  }
  .btn {
    font-size: 16px;
    line-height: 43px;
  }
  .bnr_bg {
    padding: 30px 20px;
  }
  .head_h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .location_form .form-group {
    margin: 0 0 20px;
  }
  .location_form {
    padding: 18px 20px 0;
    bottom: -130px;
  }
  .buycar_sec {
    padding: 100px 0 50px;
  }
  .work_sec {
    padding: 50px 0 40px;
  }
  .howork_sec,
  .owl_slider,
  .app_sec,
  .footer_sec {
    padding: 50px 0;
  }
  .howork_sec .sub_txt {
    margin: 0 auto 30px;
  }
  .owl_slider .item p {
    margin: 12px 0 20px;
    line-height: 26px;
    font-size: 14px;
    line-height: 22px;
  }
  .app_sec .head_h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .app_sec p {
    margin: 0 0 20px;
  }
  .footer_sec p {
    margin: 10px 0 15px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .head_h3 {
    font-size: 26px;
    margin: 0 0 20px;
  }
  .head_h2 {
    font-size: 28px;
    margin: 0 0 20px;
  }
  .sub_txt {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .work_head p {
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 20px;
  }
  .buy_car .media:not(:last-child) {
    margin-bottom: 15px;
  }
  .footer_menu .row > div {
    margin-bottom: 20px;
  }
  .footer_menu li {
    padding-top: 5px;
  }
  .app_sec a {
    margin: 0 0 15px;
  }
  .product_sec {
    padding: 20px 0 0px;
  }
  .ownerShip {
    padding: 30px 0 0;
  }
  .product_sec .carousel-indicators > li {
    height: 65px;
  }
  .owner_box {
    padding: 15px;
  }

  .buycarprocess {
    background-size: 336px;
    position: relative;
    min-height: 400px;
    background-attachment: unset;
    background-position: 35px bottom;
  }
  .profile_box {
    padding: 20px 15px;
  }
  .account_box h6 {
    margin-bottom: 15px;
  }
  .account_box .form-group {
    margin-bottom: 25px;
  }
  .profileTab .nav-pills .nav-link {
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
  }
  .update_pwd {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .buycar_sec .row > div:first-child {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .banner_sec {
    padding: 20px 0 15px;
  }
  .bnr_bg {
    padding: 15px;
  }
  .head_h3 {
    margin: 0 0 10px;
  }
  .banner_text .btn {
    line-height: 50px;
  }
  .head_h6 {
    margin: 0 0 5px;
  }
  .head_h1 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .location_form {
    padding: 15px 10px 0;
    bottom: -60px;
  }
  .location_form .form-group {
    margin: 0 0 10px;
  }
  .location_form .form-control {
    height: 55px;
    padding: 15px 20px;
  }
  .location_form .btn {
    line-height: 53px;
  }
  .buycar_sec {
    padding: 50px 0;
  }
  .head_h2 {
    font-size: 24px;
    margin: 0 0 15px;
  }
  .sub_txt {
    margin-bottom: 15px;
  }
  .buy_car .media {
    margin-bottom: 15px;
  }
  .work_box {
    padding: 20px 15px;
    margin-bottom: 15px;
  }
  .buy_car .work_box {
    padding: 20px 15px;
  }
  .app_sec .head_h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .footer_sec {
    padding: 40px 0 30px;
  }
  .footer_sec .head_h6 {
    margin: 0 0 5px;
  }
  .search_sec {
    padding: 15px 0 0;
  }
  .sort_box li .page-link,
  .sort_box label {
    font-size: 14px;
  }
  .sort_box li:first-child .page-link {
    margin: 0 12px 0 0;
  }
  .sort_box li:last-child .page-link {
    margin: 0;
  }
  .sort_box .form-inline.justify-content-end {
    justify-content: start !important;
  }
  .sort_box .form-control {
    margin: 0 0 0 -4px;
  }
  .sort_box .form-inline label {
    margin: 10px 0 0;
  }
  .car_sec .row > div {
    margin: 0 0 15px;
  }
  .search_sec form.location_form {
    padding: 15px 15px 5px;
  }
  .product_sec .carousel {
    padding: 5px 15px 12px;
    margin-bottom: 15px;
  }
  .product_dtl p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .low_price {
    padding: 15px;
    margin: 0 0 15px;
  }
  .ownerShip {
    padding: 15px 0 0;
  }
  .tab_box .nav-tabs {
    margin-bottom: 15px;
  }
  .tab_box .nav-tabs .nav-item {
    padding: 0;
  }
  .tab_box .nav-tabs .nav-link {
    padding: 5px;
  }
  .amount_box {
    padding: 15px;
  }
  .amount_box:not(:last-child) {
    margin-bottom: 15px;
  }
  .coupon_box {
    margin: 0 0 10px;
  }
  .agreement_div .form-check {
    margin: 20px 0;
  }
  .avatar-upload {
    margin: 0px auto 30px;
  }
  .profile_box {
    margin: 10px 0;
  }
  .account_box .form-group {
    margin-bottom: 15px;
  }
  .file_upload {
    margin-bottom: 20px;
  }
  .reg_sec .position-relative {
    height: auto;
  }
  .reg_form h4 {
    font-size: 22px;
    margin: 0 0 15px;
  }
  .resend_code {
    margin: 5px 0 0;
  }
  .reg_form .account_box .mob_no {
    margin-bottom: 20px;
  }
  .reg_form {
    padding: 30px 20px;
  }
  .howItWork .btn:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .howItWork .btn {
    padding: 15px 30px;
  }
  .howItWork {
    padding: 50px 0 150px;
  }
  .renting_sec {
    padding: 35px 0;
    background: #000;
  }
  .rent_div {
    display: -webkit-inline-box !important;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: unset;
    border-radius: unset;
    overflow-x: scroll;
  }
  .rent_list,
  .rentcheck_box {
    width: 100%;
    margin: 0 0 20px;
  }
  .rent_list a,
  .rentcheck_box h6 {
    padding: 15px 0;
  }
  .rent_box a {
    font-size: 24px;
  }
  .processTxt p {
    font-size: 20px;
    line-height: 28px;
  }
  .the_process {
    padding: 45px 0 100px;
  }
  .includ_sec p {
    margin: 10px auto 25px;
  }
  .includ_sec {
    padding: 45px 0 30px;
  }
.landing_bnr {
	padding: 115px 0 50px;
	background: none;
}
.landBnr_txt .head_h1 {
    font-size: 22px;
    line-height: 28px;
}
.landBnr_txt p {
    font-size: 14px;
    line-height: 22px;
}
.pink_btn {
	height: 50px;
    padding: 0 40px;
}
.whyRent_txt p {
	margin: 0 0 30px;
    font-size: 18px;
    line-height: 24px;
}
.whyRent {margin: 0 0 30px;}
.hoWork_sec {padding: 40px 0 30px;}
.hoWork_txt {
    margin-bottom: 20px;
}
.renting_sec2 .rentcheck_box {
  width: 330px;
  margin: 15px 10px 0;
}
.howork_sec2 .buy_car .work_box {
    margin-bottom: 15px;
    min-height: inherit;
}
.renting_sec2 .rent_box a{padding: 24px 0;}
.rent_box span{padding: 0;font-size: 18px;}
.landBnr_logo a, .landBnr_logo a:first-child{max-width: 100%;}
.landBnr_logo a .w-xs-75{max-width: 90%;}
.howork_sec2 .head_h2 {margin: 0 0 30px;}
.howork_sec2 .buy_car .work_box{box-shadow: 10px 40px 50px rgba(47, 47, 49, 0.5);}
}

/* newly added */

@media screen and (max-width: 786px) {
  .credit-card-dialog-container {
    width: 98vw;
    height: 90%;
  }
  .license-dialog-container,
  .dialog-container {
    width: 98vw;
  }
}
